/* Hero section */
#welcomeImage {
    opacity: 0.7;
}

.aurora-text {
    font-size: 3rem; /* Large text size */
    font-weight: bold;
    background: linear-gradient(90deg, #8e4c67, #06b0e8, #950451d3, #5905e0);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 6s infinite linear;
    text-align: center;
    letter-spacing: 4px;
    margin: 1%;
}

@keyframes aurora {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
/* ******************************************* */
/* Courses cards */
.course-card {
    transition: transform 0.5s; /* Adds smooth animation when hovering over the course card */
}

.course-card:hover {
    transform: scale(1.05); /* Slightly enlarges the card when hovered over for a nice effect */
}
/* ******************************************* */